<div class="admin-container">
  <aside class="sidebar">
    <div class="sidebar-header">
      <i class="bi bi-ticket-perforated"></i>
      <span>Sistema BlackCode</span>
    </div>

    <nav class="sidebar-nav">
      <ul>
        <li>
          <a routerLink="/admin/tickets" routerLinkActive="active">
            <i class="bi bi-ticket-detailed icon"></i>
            Gestionar Tickets
          </a>
        </li>

        <li>
          <a routerLink="/admin/usuarios" routerLinkActive="active">
            <i class="bi bi-people icon"></i>
            Gestion de Usuarios
          </a>
        </li>

        <li>
          <a routerLink="/admin/accesos" routerLinkActive="active">
            <i class="bi bi-clock-history icon"></i>
            Ultimos Accesos
          </a>
        </li>
      </ul>
    </nav>

    <div class="sidebar-footer">
      <button (click)="onLogout()" class="btn-logout">
        <i class="bi bi-box-arrow-right"></i>
        Cerrar Sesion
      </button>
    </div>
  </aside>

  <main class="main-layout">
    <header class="top-header">
      <div class="breadcrumb">
        <span>Admin</span> / <strong>Panel de Control</strong>
      </div>
      <div class="user-info">
        <span>{{ nombreCompleto }}</span>
        <div class="avatar">{{ nombreAdmin }}</div>
      </div>
    </header>

    <section class="content-body">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>